{% extends "base.html" %}

{% block title %}{{ parent()}} :: {{ "ADMIN_LOGIN"|i18n}}{% endblock %}
	
{% block content %}
	<div class="row mt-3 mb-3"><div class="col-6">
	<form class="form" method="post" action="{{ selfPath() }}">
		<h3>{{"ADMIN_LOGIN"|i18n}}</h3>

		<p>{{"ADMIN_LOGIN_INFO"|i18n}}</p>

		<div class="form-group">
		<label for="username" class="form-label">{{"USERNAME"|i18n}}</label>
		<input type="text" class="form-control" id="username" name="username" value="" />
		</div>

		<div class="form-group">
		<label for="password">{{"PASSWORD"|i18n}}</label>
		<input type="password" class="form-control" name="password" id="password" value="" />
		</div>

		<div class="form-group">
		<button type="submit" class="btn btn-dark-blue" name="login" value="{{"LOGIN"|i18n}}">{{"LOGIN"|i18n}}</button>
		<button type="submit" class="btn btn-dark-blue" name="cancel" value="{{"CANCEL"|i18n}}">{{"CANCEL"|i18n}}</button>
		</div>

	</form>
	</div></div>
	<div class="row mt-3 mb-3"><div class="col"></div></div>
{% endblock %}