<!DOCTYPE html>
<html>
    <head>
        {% block head %}
	  	  <title>{% block title %}{{ "PAGE_TITLE"|i18n }}{% endblock %}</title>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	  <link rel="icon" type="image/png" href="gfx/favicon.png" />
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	  	  <link rel="stylesheet" href="style.css?v={{DOMA_VERSION}}" type="text/css" />
		  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
	  	  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css"
	  	    integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw=="
	  	    crossorigin=""/>
	  	  <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js"
	  	    integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA=="
	  	    crossorigin=""></script>
	  	  <script src="https://unpkg.com/esri-leaflet@2.1.0/dist/esri-leaflet.js"
	  	      integrity="sha512-Tojl3UMd387f6DdAJlo+fKfJZiP55fYT+6Y58yKbHydnueOdSFOxrgLPuUxm7VW1szEt3hZVwv3V2sSUCuT35w=="
	  	      crossorigin=""></script>
	  	  <script src="js/common.js?v={{DOMA_VERSION}}" type="text/javascript"></script>
        {% endblock %}
    </head>
	  
    <body>
		{% block bodystart %}{% endblock %}
		<div class="container">
			<div class="row">
			    <div class="col d-none d-sm-block ml-2 mb-3" id="headerImage"></div>
			</div>
			{{ include('components/topbar.html')}}
			<div class="row">
				{% if not Errors is empty %}
				<ul class="error">
				{% for error in Errors %}
					<li>{{error}}</li>
				{%endfor%}
				</ul>
				{% endif %}
			</div>
			{% block content %}{% endblock %}
		</div>
	{% block bodyend %}{% endblock %}
	{{ include('components/googleAnalytics.html') }}
	</body>	
</html>