{% extends "base.html" %}

{% block title %}{{ parent()}} :: {{ Title }} {% endblock %}
	
{% block head %}
    {{ parent() }}
	<script src="js/edit_map.js?v={{DOMA_VERSION}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row mt-3">
	<div class="col">
		<h1>{{Title}}</h1>
	</div>
</div>
<div class="row mt-3">
	<div class="col-lg-6">
		<form method="post" action="{{ selfPath() }}{% if MapID %}?map={{MapID}} {% endif %}" enctype="multipart/form-data">
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="categoryID">{{"CATEGORY"|i18n}}</label>
			<div class="col-md-9">
			<select name="categoryID" class="form-conrol">
			{% for category in Categories %}
				<option value="{{category.ID}}" {% if category.ID == Map.CategoryID %} selected="selected" {% endif %}>{{category.Name}}</option>
			{% endfor %}
			</select>
			<small id="categoryHelp" class="form-text text-muted">{{"CATEGORY_TOOLTIP"|i18n}}</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="date">{{"DATE"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="date" id="date" value="{{ mapDateText(Map) }}" />
			<small id="dateHelp" class="form-text text-muted">{{"MAP_DATE_FORMAT"|i18n}}</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="name">{{"NAME"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="name" id="name" value="{{ Map.Name }}" />
			</div>
		</div>
		{% if "SHOW_MAP_AREA_NAME"|i18n %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="relayLeg">{{"MAP_AREA_NAME"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="mapName" id="mapName" value="{{Map.MapName}}" />
			</div>
		</div>
		{% endif %}
		{% if "SHOW_ORGANISER"|i18n %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="organiser">{{"ORGANISER"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="organiser" id="organiser" value="{{Map.Organiser}}" />
			</div>
		</div>
		{% endif %}
		{% if "SHOW_COUNTRY"|i18n %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="country">{{"COUNTRY"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="country" id="country" value="{{Map.Country}}" />
			</div>
		</div>
		{% endif %}
		{% if "SHOW_DISCIPLINE"|i18n %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="discipline">{{"DISCIPLINE"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="discipline" id="discipline" value="{{Map.Discipline}}" />
			</div>
		</div>
		{% endif %}
		{% if "SHOW_RELAY_LEG"|i18n %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="relayLeg">{{"RELAY_LEG_LONG"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="relayLeg" id="relayLeg" value="{{Map.RelayLeg}}" />
			</div>
		</div>
		{% endif %}
		{% if "SHOW_RESULT_LIST_URL"|i18n %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="relayLeg">{{"LINK_TO_RESULT_LIST"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" class="form-control" name="resultListUrl" id="resultListUrl" value="{{Map.ResultListUrl}}" />
			</div>
		</div>
		{% endif %}
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="comment">{{"COMMENT"|i18n}}</label>
			<div class="col-md-9">
			<textarea name="comment" id="comment" class="form-control" rows="5" cols="60">{{ Map.Comment }}</textarea>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="mapImage">{{"MAP_IMAGE_FILE"|i18n}}</label>
			<div class="col-md-9">
			<input type="file" id="mapImage" name="mapImage" class="form-control-file" />
			<small id="mapImageHelp" class="form-text text-muted">{{"MAP_INFO"|i18n}}{% if MapID %} {{ "LEAVE_EMPTY_TO_KEEP_EXISTING_MAP"|i18n}}{% endif %}</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="blankMapImage">{{"BLANK_MAP_IMAGE_FILE"|i18n}}</label>
			<div class="col-md-9">
			<input type="file" id="blankMapImage" name="blankMapImage" class="form-control-file" />
			<small id="blankMapImageHelp" class="form-text text-muted">{{"BLANK_MAP_INFO"|i18n}}{% if MapID %} {{ "LEAVE_EMPTY_TO_KEEP_EXISTING_MAP"|i18n}}{% endif %}</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="thumbnailImage">{{"THUMBNAIL_IMAGE_FILE"|i18n}}</label>
			<div class="col-md-9">
			<input type="file" id="thumbnailImage" name="thumbnailImage" class="form-control-file" />
			<small id="thumbnailImageHelp" class="form-text text-muted">{{ thumbnailInfoText() }}</small>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="protectedUntil">{{"PROTECTED_UNTIL"|i18n}}</label>
			<div class="col-md-9">
			<input type="text" id="protectedUntil" class="form-control" name="protectedUntil" value="{{ protectedUntilTimeText(Map) }}" />
			<small id="protectedUntilHelp" class="form-text text-muted">{{"PROTECTED_UNTIL_INFO"|i18n}}</small>
			</div>
		</div>
		<div class="form-group row">
			<div class="col">
			<button type="submit" class="btn btn-dark-blue" name="save" value="{{"SAVE"|i18n}}">{{"SAVE"|i18n}}</button>
			{% if ConfirmDeletionButtonVisible %}
				<button type="submit" class="btn btn-dark-blue" name="deleteConfirmed" value="{{"CONFIRM_DELETION"|i18n}}">{{"CONFIRM_DELETION"|i18n}}</button>
				{% else %}
				<button type="submit" class="btn btn-dark-blue" name="delete" value="{{"DELETE"|i18n}}">{{"DELETE"|i18n}}</button>
			{% endif %}
			<button type="submit" class="btn btn-dark-blue" name="cancel" value="{{"CANCEL"|i18n}}">{{"CANCEL"|i18n}}</button>
			</div>
		</div>
	</form>
	</div>
</div>
<div class="row mt-3 mb-3"><div class="col"></div></div>
	
{% endblock %}