{% extends "base.html" %}

{% block title %}{{ parent()}} :: {{ Title }} {% endblock %}
	
{% block head %}
    {{ parent() }}
	<script src="js/edit_user.js?v={{DOMA_VERSION}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="row mt-3">
	<div class="col">
		<h3>{{Title}}</h3>
		<p>{{Info|raw}}</p>		
	</div>
</div>
<form method="post" action="{{ FormActionURL }}">
<div class="row mt-3">
	<div class="col">
		<h5>{{"PERSONAL_DETAILS_TITLE"|i18n}}</h5>
	</div>
</div>
<div class="row">
	<div class="col ml-3 mr-3 divider"></div>
</div>
<div class="row mt-3">
	<div class="col-lg-6">
		{% if IsAdmin or IsNewUser %}
			<p>{{"ADMIN_PERSONAL_DETAILS_INFO"|i18n}}</p>
		{% else %}
			<p>{{"PERSONAL_DETAILS_INFO"|i18n}}</p>
		{% endif %}
		
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="accountID">Account ID</label>
			<div class="col-md-9">
			<input type="text" readonly class="form-control" id="accountID" value="{{User.AccountID}}">
			<input type="hidden" class="form-control" name="accountID" value="{{User.AccountID}}" />
			</div>
		</div>
		
		{% if IsAdmin or IsNewUser %}
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="firstName">{{"FIRST_NAME"|i18n}}<span class="required">*</span></label>
				<div class="col-md-9">
				<input type="text" class="form-control" name="firstName" value="{{User.FirstName}}"/>
				<small id="firstNameHelp" class="form-text text-muted">{{"ADMIN_FIRST_NAME_DESCRIPTION"|i18n}}</small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="lastName">{{"LAST_NAME"|i18n}}<span class="required">*</span></label>
				<div class="col-md-9">
				<input type="text" class="form-control" name="lastName" value="{{User.LastName}}" />
				<small id="firstNameHelp" class="form-text text-muted">{{"ADMIN_LAST_NAME_DESCRIPTION"|i18n}}</small>			
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="email">{{"EMAIL"|i18n}}<span class="required">*</span></label>
				<div class="col-md-9">
				<input type="text" class="form-control" name="email" value="{{User.Email}}" />
				<small id="firstNameHelp" class="form-text text-muted">{{"ADMIN_EMAIL_DESCRIPTION"|i18n}}</small>
				</div>
			</div>
		{% else %}
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="firstName">{{"FIRST_NAME"|i18n}}</label>
				<div class="col-md-9">
				<input type="text" readonly class="form-control" name="firstName" value="{{User.FirstName}}"/>
				<input type="hidden" class="text" name="firstName" value="{{User.FirstName}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="lastName">{{"LAST_NAME"|i18n}}</label>
				<div class="col-md-9">
				<input type="text" readonly class="form-control" name="lastName" value="{{User.LastName}}"/>
				<input type="hidden" class="text" name="lastName" value="{{User.LastName}}" />
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="email">{{"EMAIL"|i18n}}</label>
				<div class="col-md-9">
				<input type="text" readonly class="form-control" name="email" value="{{User.Email}}"/>
				<input type="hidden" class="text" name="email" value="{{User.Email}}" />
				</div>
			</div>
		{% endif %}

		{% if IsAdmin and IsNewUser %}
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="sendEmail">{{"SEND_CONFIRMATION_EMAIL"|i18n}}</label>
				<div class="col-md-9">
				<input type="checkbox" class="checkbox form-control" name="sendEmail" id="sendEmail" {% if SendEmail %} checked="checked" {% endif %} />
				<small class="form-text text-muted">{{"SEND_CONFIRMATION_EMAIL_DESCRIPTION"|i18n}}</small>
				</div>
			</div>
		{% endif %}

		{% if IsAdmin %}
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="visible">{{"VISIBLE"|i18n}}</label>
				<div class="col-md-9">
				<input type="checkbox" class="checkbox form-control" name="visible" id="visible" {% if User.Visible %} checked="checked" {% endif %} />
				<small class="form-text text-muted">{{"ADMIN_VISIBLE_DESCRIPTION"|i18n}}</small>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<h5>{{"MAP_CATEGORIES_TITLE"|i18n}}</h5>
	</div>
</div>
<div class="row">
	<div class="col ml-3 mr-3 divider"></div>
</div>
<div class="row mt-3">
	<div class="col-lg-8">
		{% if IsAdmin %}
			<p>{{ "ADMIN_MAP_CATEGORIES_INFO"|i18n }}</p>
		{% else %}
			<p>{{ "MAP_CATEGORIES_INFO"|i18n }}</p>
		{% endif %}
		
		<div class="form-group row">
			<label class="col-md-3 col-form-label" for="categoryContainer">{{"MAP_CATEGORIES"|i18n}}</label>
			<div class="col-md-4">
				<input type="text" readonly class="form-control" value="{{"ALL_CATEGORIES"|i18n}}">
			</div>
			<div class="form-check col-md-2">
			  <label class="form-check-label">
			    <input class="form-check-input" type="radio" name="defaultCategory" id="categoryDefault_0" value="0" {% if DefaultCategory == 0 %} checked="checked" {% endif %}>
			    {{"DEFAULT_CATEGORY"|i18n}}
			  </label>
			</div>
			<div class="col-md-3"></div>
		</div>
		{% for d in CategoryData %}
			<div class="form-group row">
				<label class="col-md-3 col-form-label" for="categoryContainer"></label>
				<div class="col-md-4">
					<input type="text" class="form-control" name="{{d.nameId}}" id="{{d.nameId}}" value="{{d.category.Name}}">
				</div>
				<div class="form-check col-md-2">
				  <label class="form-check-label">
				    <input class="form-check-input" type="radio" name="defaultCategory"value="{{d.defaultValue}}" id="{{d.defaultId}}" {% if DefaultCategory == d.defaultValue %} checked="checked" {% endif %} >
				    {{"DEFAULT_CATEGORY"|i18n}}
				  </label>
				</div>
				<div class="col-md-3">
					<button type="submit" class="btn btn-dark-blue" name="{{d.deleteId}}" id="{{d.deleteId}}" value="{{"DELETE_CATEGORY"|i18n}}" >{{"DELETE_CATEGORY"|i18n}}</button>
				</div>
			</div>
		{% endfor %}
		<div class="form-group row">
			<div class="col-md-3"></div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-dark-blue" name="addCategory" id="addCategory" value="{{"ADD_CATEGORY"|i18n}}" >{{"ADD_CATEGORY"|i18n}}</button>
			</div>
			<div class="col-md-5"></div>
		</div>
	</div>
</div>
<div class="row mt-3">
	<div class="col">
		<h5>{{"TEXTS_AND_SETTINGS_TITLE"|i18n}}</h5>
	</div>
</div>
<div class="row">
	<div class="col ml-3 mr-3 divider"></div>
</div>
<div class="row mt-3">
	<div class="col-lg-8">
		{% if IsAdmin %}
			<p>{{ "ADMIN_TEXTS_AND_SETTINGS_INFO"|i18n }}</p>
		{% else %}
			<p>{{ "TEXTS_AND_SETTINGS_INFO"|i18n }}</p>
		{% endif %}
		
		{% for key,value in CustomizableSettings.settings %}
		<div class="form-group row">
			<label class="col-md-4 col-form-label" for="CV_{{key}}">{{key}}</label>
			<div class="col-md-8">
				{% if value|length < 60 %}
					<input type="text" class="form-control" name="CV_{{key}}" value="{{key|i18n}}" />
				{% else %}
					<textarea class="form-control" name="CV_{{key}}" rows="3" cols="50" style="height: {{2+2*value|length/80}}em;">{{key|i18n}}</textarea>
				{% endif %}
				<small class="form-text text-muted">{{attribute(CustomizableSettings.descriptions,key)|i18n}}</small>
			</div>
		</div>
		{% endfor %}
		
	</div>
</div>

<div class="row mt-3">
	<div class="col">
		<button type="submit" class="btn btn-dark-blue" name="save" id="save" value="{{"SAVE"|i18n}}">{{"SAVE"|i18n}}</button>
		{% if IsAdmin and (not DeleteButtonClicked) and (not IsNewUser) %}
			<button type="submit" class="btn btn-dark-blue" name="delete" id="delete" value="{{"DELETE"|i18n}}">{{"DELETE"|i18n}}</button>
		{% elseif IsAdmin and DeleteButtonClicked %}
			<button type="submit" class="btn btn-dark-blue" name="deleteConfirmed" id="deleteConfirmed" value="{{"CONFIRM_DELETION"|i18n}}">{{"CONFIRM_DELETION"|i18n}}</button>
		{% endif %}
		<button type="submit" class="btn btn-dark-blue" name="cancel" id="cancel" value="{{"CANCEL"|i18n}}">{{"CANCEL"|i18n}}</button>
		<input type="hidden" name="noOfCategoriesAdded" value="{{NoOfCategoriesAdded}}" />
	</div>
</div>
		
</form>

<div class="row mt-3 mb-3"><div class="col"></div></div>

{% endblock %}