{% extends "base.html" %}

{% block head %}
    {{ parent() }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.php?user={{ getCurrentUser().ID }}" />
	<script src="js/overview_map.js?v={{DOMA_VERSION}}" type="text/javascript"></script>
	{% if DisplayMode == "overviewMap" %}
	<script type="text/javascript">
	  $(function() {       
	    $("#overviewMap").overviewMap({ data: {{OverviewMapDataJSON|raw}} });
	  });
	</script>
	{% endif %}
	<script src="js/index.js?v={{DOMA_VERSION}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
	{{ parent() }}
	<div class="row mt-3 mb-3">
		<div class="col-md-2 d-none d-md-block">
			  <img src="gfx/book.png" alt="" />
		</div>
		<div class="col-sm-12 col-md-10">
			<div class="row">
				<div class="col">
					<div class="float-right"><a href="rss.php?user={{ getCurrentUser().ID }}"><img src="gfx/feed-icon-28x28.png" alt="{{ "RSS_FEED"|i18n }}" title="{{ "RSS_FEED"|i18n }}" /></a></div>
					<h2>{{getCurrentUser().FirstName}} {{getCurrentUser().LastName}}</h2>
					<h2>{{"CAPTION"|i18n}}</h2>
					<p>{{"INTRO"|i18n}}</p>
				</div>
			</div>
			<form method="get" action="{{ selfPath() }}?user={{ getCurrentUser().ID }}">
				<input type="hidden" name="user" value="{{getCurrentUser().ID}}"/>
				<div class="form-row">
					{% if YearsWithText|length < 2 %}
						{{ "NO_MAPS"|i18n }}
					{% else %}
				    	<div class="col">
							<label for="categoryID" class="col-form-label">{{ "SELECT_CATEGORY"|i18n }}:</label>
							<select name="categoryID" id="categoryID" class="form-control form-control-sm">
							{{ SearchCriteria["selectedCategoryId"] }}
							{% for category in CategoriesWithText %}
								<option value="{{ category.ID }}" {% if SearchCriteria["selectedCategoryID"] == category.ID %} selected="selected" {% endif %}>
									{{ category.Name }}
								</option>
							{% endfor %}
							</select>
				    	</div>
						<div class="col">
							<label for="year" class="col-form-label">{{ "SELECT_YEAR"|i18n }}:</label>
							<select name="year" id="year" class="form-control form-control-sm">
							{% for year in YearsWithText %}
							     <option value="{{ year["value"] }}" {% if SearchCriteria["selectedYear"] == year["value"] %} selected="selected" {% endif %}>
									{{ year["text"] }}
								</option>
							{% endfor %}
							</select>
						</div>
						<div class="col">
							<label for="filter" class="col-form-label">{{ "SELECT_FILTER"|i18n }}:</label>
							<input type="text" name="filter" id="filter" class="form-control form-control-sm" value="{{ SearchCriteria['filter'] }}"/>
						</div>
						{% if GeocodedMapsExist %}
						<div class="col">
							<label for="displayMode" class="col-form-label">{{ "SELECT_DISPLAY_MODE"|i18n }}:</label>
							<select name="displayMode" id="displayMode" class="form-control form-control-sm">
								<option value="list" {% if DisplayMode == "list" %} selected="selected" {% endif %}>{{ "DISPLAY_MODE_LIST"|i18n }}</option>
								<option value="overviewMap"  {% if DisplayMode == "overviewMap" %} selected="selected" {% endif %}>{{ "DISPLAY_MODE_OVERVIEW_MAP"|i18n }}</option>
							</select>
						</div>
						{% endif %}
					{% endif %}
			  	</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col ml-3 mr-3 mb-2 divider"></div>
	</div>

	<div class="row">
		<div class="col-12">
		{% if (Maps is empty) and (YearsWithText > 1) %}
		  <p>
			{{"NO_MATCHING_MAPS"|i18n}}
		  </p>
		{% endif %}

		{% if DisplayMode == "list" %}
			{% for map in Maps %}
				{{include('components/mapInfoBox.html', {map: map, mapInfo: MapInfo[map.ID], category: Categories[map.CategoryID]}, with_context = false) }}
			{% endfor %}
		{% endif %}
		{% if DisplayMode == "overviewMap" %}
			<div id="overviewMap"></div>
		{% endif %}
		</div>
	</div>
	
	<div class="row">
		<div class="col ml-3 mr-3 mb-2 mt-2 divider"></div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<p>{{"FOOTER"|i18n|raw}}</p>
		</div>
	</div>
{% endblock %}

