{% extends "base.html" %}

{% block title %}{{ parent()}} :: {{ Name }}{% endblock %}
	
{% block head %}
    {{ parent() }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="rss.php?user={{ user.ID }}" />
	<script src="js/show_map.js?v={{DOMA_VERSION}}" type="text/javascript"></script>
	<script type="text/javascript" src="js/jquery/jquery.timeago.js"></script>

    {% if getLanguageCode() != "" and getLanguageCode() != "en" %}
      <script type="text/javascript" src="js/jquery/jquery.timeago.{{getLanguageCode()}}.js"></script>
	{% endif %}

	{% if OverviewMapData %}
	    <script src="js/overview_map.js" type="text/javascript"></script>
	    <script type="text/javascript">
	      $(function() { 
	        var overviewMapData = {{OverviewMapData|json_encode|raw}};        
	        $("#overviewMap").overviewMap({ data: overviewMapData });
	      });
	    </script>
	{% endif %}
	{% if ProcessRerun %} 
	    {% if RerunMaps != "" %}
	    	<script type="text/javascript" src="js/rerun.js?v={{DOMA_VERSION}}"></script>
	    {% else %}
	      <script type="text/javascript">
	        $.get("ajax_server.php?action=saveLastRerunCheck");
	      </script>
	    {% endif %}
	{% endif %}
  
	<meta property="og:url"		content="{{globalPath("show_map.php")}}?map={{Map.ID}}" />
	<meta property="og:type"	content="article" />
	<meta property="og:title"	content="{{"PAGE_TITLE"|i18n}} :: {{Map.Name}}" />
	{% if Map.Comment != "" %}
		<meta property="og:description" content="{{Map.Comment}}">
	{% else %}
		<meta property="og:description" content=" ">
	{% endif %}
	<meta property="og:image"	content="{{globalPath(getThumbnailImage(Map))}}" />

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="{{"PAGE_TITLE"|i18n}} :: {{Map.Name}}">
	{% if Map.Comment != "" %}
		<meta name="twitter:description" content="{{Map.Comment}}">
	{% else %}
		<meta name="twitter:description" content="{{Map.Name}}">
	{% endif %}
	<meta name="twitter:image" content="{{globalPath(getThumbnailImage(Map))}}">
{% endblock %}

{% block bodystart %}
	{{parent()}}
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>window.twttr = (function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0],
	    t = window.twttr || {};
	  if (d.getElementById(id)) return t;
	  js = d.createElement(s);
	  js.id = id;
	  js.src = "https://platform.twitter.com/widgets.js";
	  fjs.parentNode.insertBefore(js, fjs);

	  t._e = [];
	  t.ready = function(f) {
	    t._e.push(f);
	  };

	  return t;
	}(document, "script", "twitter-wjs"));</script>
{% endblock %}

{% block content %}
<div class="row mt-3">
	{% if ProcessRerun and (RerunMaps != "") %}
  		<input id="rerun_maps" type="hidden" value="{{RerunMaps}}" />
  	  	<input id="base_url" type="hidden" value="{{BASE_URL}}" />
  	  	<input id="rerun_apikey" type="hidden" value="{{RERUN_APIKEY}}" />
  	  	<input id="rerun_apiurl" type="hidden" value="{{RERUN_APIURL}}" />  
  	  	<input id="total_rerun_maps" type="hidden" value="<{{TotalRerunMaps}}" />
  	  	<input id="processed_rerun_maps" type="hidden" value="0" />
	{% endif %}
	{% if Map.IsGeocoded %}
	<div class="col-md-5 col-lg-3">
		<input id="staticMapLatitude" type="hidden" value="{{Map.MapCenterLatitude}}" />
	  	<input id="staticMapLongitude" type="hidden" value="{{Map.MapCenterLongitude}}" />
	  	<input id="kmlURL" type="hidden" value="{{kmlURL}}" />
	  	<div id="staticMap"></div>
	</div>
	<div class="col-md-7 col-lg-9">
	{% else %}
	<div class="col">
	{% endif %}
		<div><h4><strong>{{Name}}</strong></h4></div>
		<div id="social-buttons" >
			<div class="fb-share-button" data-href="{{globalPath("show_map.php")}}?map={{Map.ID}}" data-width="200" 	data-type="button" data-size="large" style="vertical-align:top;"></div>

			<a class="twitter-share-button"
				data-size="large"
	  			href="https://twitter.com/intent/tweet">
				Tweet</a>
		</div>
		<div>
		    <span class="property">
				<span class="caption">{{"CATEGORY"|i18n}}:</span> {{Map.GetCategory.Name}}
			</span> 
			{% if "SHOW_MAP_AREA_NAME"|i18n  and Map.MapName != "" %}
		   	<span class="property">
				 <span class="caption">{{"MAP_AREA_NAME"|i18n}}:</span> {{Map.MapName}}
			</span>
		</div>
		<div>
		 	{% endif %}
			{% if "SHOW_ORGANISER"|i18n  and Map.Oraniser != "" %}
		   	<span class="property">
				 <span class="caption">{{"ORGANISER"|i18n}}:</span> {{Map.Oraniser}}
			</span>
		 	{% endif %}
			{% if "SHOW_COUNTRY"|i18n  and Map.Country != "" %}
		   	<span class="property">
				 <span class="caption">{{"COUNTRY"|i18n}}:</span> {{Map.Country}}
			</span>
		 	{% endif %}
		</div>
		<div>
			{% if "SHOW_DISCIPLINE"|i18n  and Map.Discipline != "" %}
		   	<span class="property">
				 <span class="caption">{{"DISCIPLINE"|i18n}}:</span> {{Map.Discipline}}
			</span>
		 	{% endif %}
			{% if "SHOW_RELAY_LEG"|i18n  and Map.RelayLeg != "" %}
		   	<span class="property">
				 <span class="caption">{{"RELAY_LEG"|i18n}}:</span> {{Map.RelayLeg}}
			</span>
		 	{% endif %}
			{% if "SHOW_RESULT_LIST_URL"|i18n  and Map.ResultListUrl != "" %}
		   	<span class="property">
				<span class="caption"><a href="{{map.CreateResultListUrl}}">{{ "RESULTS"|i18n }}</a></span>
			</span>
		 	{% endif %}
		</div>
		<div>
			{% if QR and QR.IsValid %}	
				{% if "SHOW_DISTANCE"|i18n or "SHow_ELAPSEDTIME"|i18n %}
					{% if "SHOW_DISTANCE"|i18n and Map.Distance != "" %} 
						<span class="property">
							<span class="caption">{{"DISTANCE"|i18n}}:</span>{{(Map.Distance/1000)|round(2)}} km
						</span>
					{% endif %}
					{% if "SHOW_ELAPSEDTIME"|i18n and Map.ElapsedTime != "" %}
						<span class="property">
							<span class="caption">{{"ELAPSEDTIME"|i18n}}:</span>{{convertToTime(Map.ElapsedTime,"MM:SS")}}
						</span>
					{% endif %}
				{% endif %}
				
				{% if QR.Sessions[0].Route.AvgHR != 0 %}
					{% if "SHOW_AVGHR"|i18n %}
						<span class="property"><span class="caption">{{"AVGHR"|i18n}}:</span> {{QR.Sessions[0].Route.AvgHR|round(0)}}</span>
					{% endif %}
					{% if "SHOW_MAXHR"|i18n %}
						<span class="property"><span class="caption">{{"MAXHR"|i18n}}:</span> {{QR.Sessions[0].Route.MaxHR|round(0)}}</span>
					{% endif %}
				{% endif %}
				
				{% if Map.RerunID and Map.RerunID != 0 and USE_3DRERUN == "1" %} 
					<span class="property">
						<a href="http://3drerun.worldofo.com/?id='{{Map.RerunID}}&type=info" target="_blank">{{"3DRERUN"|i18n}}</a>
					</span>';
				{% endif %}
			{% endif %}
		</div>
		{% if Map.Comment != "" %}
			<div id="comment"> {{Map.Comment|nl2br}}</div>
		{% endif %}
	</div>
</div>
<div class="row mt-3"><div class="col"></div></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-blue nav-rounded">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#showMapNavBar" aria-controls="showMapNavBar" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
    </button>
	<div class="collapse navbar-collapse" id="showMapNavBar">
	<ul class="navbar-nav">
	  	{% if QR and QR.IsValid %}
	    	<li class="nav-item" id="showOverviewMap"><a class="nav-link" href="#">{{"SHOW_OVERVIEW_MAP"|i18n}}</a></li>
	    	<li class="nav-item" id="hideOverviewMap" style="display:none"><a class="nav-link" href="#">{{"HIDE_OVERVIEW_MAP"|i18n}}</a></li>
	    	<li class="nav-item"><a class="nav-link" href="export_kml.php?id={{Map.ID}}&amp;format=kml" title="<{{"KMZ_TOOLTIP"|i18n}}">{{"KMZ"|i18n}}</a></li>
		{% endif %}
	</ul>
	<ul class="navbar-nav ml-auto">
		{% if Previous %}
			<li class="nav-item"><a class="nav-link" href="show_map.php?map={{Previous.ID}}">&lt;&lt; {{PreviousName}}</a></li>
		{% endif %}
		{% if Next %}
			<li class="nav-item"><a class="nav-link" href="show_map.php?map={{Next.ID}}">{{NextName}} &gt;&gt;</a></li>
		{% endif %}
	</ul>
	</div>
</nav>

<div class="row mt-3 mb-3"><div class="col">
	<input type="hidden" id="id" value="{{Map.ID}}" />
	<div id="overviewMapContainer"></div>
</div></div>

<div class="row mt-3 mb-3"><div class="col">
	<input type="hidden" id="mapURL" value="{{FirstMapImageName}}" />
	{% if SecondMapImageName %}
		<input type="hidden" id="secondMapURL" value="{{SecondMapImageName}}" />
	{% endif %}
	<input type="hidden" id="mapWidth" value="{{ImageWidth}}">
	<input type="hidden" id="mapHeight" value="{{ImageHeight}}">
	<div id="mapContainer"></div>
</div></div>
	
<div class="row mt-3 mb-3"><div class="col"></div></div>
{% endblock %}