<div class="card mb-2 map">
	<div class="card-header pt-2 pb-2">
		<h4 class="float-left"><a href="show_map.php?map={{map.ID}}">{{map.Name}}</a></h4><h4 class="float-right">{{ dateToLongString(stringToTime(map.Date,true))}}</h4>
	</div>
	<div class="row">
		<div class="d-none d-md-block col-md-7 col-lg-6 col-xl-5">
			<img class="card-img-left" src="{{getThumbnailImage(map)}}" alt="{{mapInfo.Name}}" width="{{THUMBNAIL_WIDTH}}" height="{{THUMBNAIL_HEIGHT}}"/>
		</div>
		<div class="d-block d-md-none col-md-7 col-lg-6 col-xl-5">
			<img class="card-img-top" src="{{getThumbnailImage(map)}}" alt="{{mapInfo.Name}}" height="{{THUMBNAIL_HEIGHT}}"/>
		</div>
		<div class="col-md-5 col-lg-6 col-xl-7">
			{% if "SHOW_MAP_AREA_NAME"|i18n or "SHOW_ORGANISER"|i18n or "SHOW_COUNTRY"|i18n %}
				{% if SearchCriteria["selectedCategoryID"] == 0 %}
					<div>{{"CATEGORY"|i18n }} : {{ category.Name }} </div>
				{% endif %}
				<div>
				  {{ mapInfo["MapAreaOrganiserCountry"] }}
				</div>
			{% endif %}
			<div class="discipline">
				{% if "SHOW_DISCIPLINE"|i18n and map.Discipline %}
					{{map.Discipline}}
				{% endif %}
				{% if "SHOW_RELAY_LEG"|i18n and map.RelayLeg %}
					{{ "RELAY_LEG"|i18n }} {{ map.RelayLeg}}
				{% endif %}
				{% if "SHOW_RESULT_LIST_URL"|i18n and map.CreateResultListUrl %}
					<a href="{{map.CreateResultListUrl}}">{{ "RESULTS"|i18n }}</a>
				{% endif %}
			</div>
			{% if map.IsGeocoded %}
				<div class="listOverviewMapLink">
					<input type="hidden" value="{{map.ID}}" />
					<a class="showOverviewMap" href="#">{{ "SHOW_OVERVIEW_MAP"|i18n }}</a>
					<a class="hideOverviewMap" style="display:none" href="#">{{ "HIDE_OVERVIEW_MAP"|i18n }}</a>
					<span class="separator">|</span> 
					<a href="export_kml.php?id={{ map.ID }}&amp;format=kml" title="{{"KMZ_TOOLTIP"|i18n }}">{{ "KMZ"|i18n }}</a>
				</div>
			{% endif %}

			{% if isMapCurrentlyProtected(map) %}
			<div>
			  {{ protectedUntilText(map)|raw }}
			</div>
			{% endif %}

		</div>
	</div>
	{% if map.IsGeocoded %}
	<div class="row">
		<div class="col">
			<div class="googleMapsContainer"></div>
		</div>
	</div>
	{% endif %}     
	
	{% if isLoggedInAsUser() and (getLoggedInUser().ID == getCurrentUser().ID) %}
	<div class="card-footer">
		{{ map.Views }} 
		{{ "VIEWS"|i18n }}
		<span class="separator">|</span> 
		<a href="edit_map.php?map={{ map.ID}}">{{ "EDIT_MAP"|i18n }}</a>
	</div>
	{% endif %}
</div>
